/*oooo Start oooo*/ 
/*xxxx End xxxx*/

*, *:before, *:after {
    -moz-box-sizing    : border-box; /* Firefox */
    -webkit-box-sizing : border-box; /* Safari */
    box-sizing         : border-box;
    *behavior          : url(./js/boxsizing.htc); /* ie7 et ie8 */
}

/*oooo Color Chart oooo*/ 
:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
    --big-font: 30px;
    --margin-page: 0 5%;
}

.bold {
    font-weight: 900;
}

.blue {
    color: #0065FC;
}

.light-blue {
    color: #DEEBFF
}

.grey {
    color: #F2F2F2; 
}
/*xxxx Color Chart xxxx*/

/*oooo Overall oooo*/ 
body {
    margin: 0;
    font: 12px 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;       
}

body > * {
    border: 1px solid transparent;
}

header, main, footer nav {
    flex: 1 100%;
    width: 1440px;
    height: 1884px;
    margin-left: auto;
    margin-right: auto;    
}

a {
    text-decoration: none;
    color: #000;
}
    
footer {
    background-color: var(--grey);
}
/*xxxx Overall xxxx*/

/*oooo Header oooo*/ 
header nav {
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    width: 60px;
    height: 28.69px;
}

header .menu {    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .menu a {
    width: 162px;
    height: 102px;
    border-top: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu a:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);
}
/*xxxx Header xxxx*/

/*oooo Main oooo*/ 
.main-wrapper {
    margin: 0 50px;
}
/*o title o*/
main .title {
    padding: 0; 
    display: flex;  
    justify-content: space-between;
    flex-direction: column;
}

main .title h1 {
    margin: 0;
    font-size: 17px;    
}

main .title p {
    margin: 5px 0;
}
/*x title x*/

/*o formulaire o*/
main form {
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

main form i.fa-map-marker-alt {
    width: 46px;
    height: 45px;
    padding: 18px;
    background-color: var(--grey);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 1px solid var(--grey);
}

input.p-holder {
    width: 170px;
    height: 45px;
    padding-left: 10px;
    border-left: 1px solid var(--grey);
    border-right: 1px solid transparent;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

input.search {
    height: 45px;
    color: #FFF;
    padding: 15px 20px;
    background-color: var(--blue);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid var(--blue);    
    font-weight: bolder;
}
  
  
input::placeholder {
    color: #000;
    font-weight: bolder;
}
  
.fa-search {
    opacity: 0;
}
/*x formulaire x*/

/*o filters o*/
main div.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;   
    margin: 20px 0; 
}

main div.filters div {
    display: flex;
    gap: 30px;
}

.filters p {
    margin: 0;
    font-weight: bold;    
}

.filters span {
    font-weight: bold;    
    margin: 0 12px;    
}

.fa-money-bill-wave, 
.fa-child, 
.fa-heart, 
.fa-dog { 
    width: 37px; 
    height: 37px;
    background: white;
    border-radius: 50%;
    color: var(--blue);
    padding: 14px 0;
    padding-right: 2px;
}

div.filters button  { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
    background: #FFF;    
    border-radius: 50px 50px 50px 50px;
    border: 2px solid var(--light-blue);
    padding: 0;
           
}

button i.filter {
  background: var(--light-blue);
  color: var(--blue);
  margin: 0;
}
/*x filters x*/

/*o information o*/
.fa-info {
    display: flex;
    align-items: center;
    padding-right: 1px;
    padding-left: 7px;
    padding-bottom: 2px;
    width: 20px; 
    height: 20px;
    border: 1px solid var(--light-blue);
    border-radius: 50%;
    color: var(--blue);
}
  
  main div.information {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}
  
main div.information p {
    margin-left: 5px;
}
/*o information o*/


/*ooo hebergement-populaire ooo*/
.row-hebergement-populaire {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0 4px;
    gap: 10px;
  }
  
  /* Create two inequal columns that sits next to each other */
  .colum-hebergement {
    -ms-flex: 880px; /* IE10 */
    flex: 880px;
    max-width: 880px;
    max-height: 626px;
    padding: 0 4px;
  }
  
  .colum-hebergement #hebergement {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 100%;  
    background-color: var(--grey);
}
  
  .colum-populaire {
    -ms-flex: 420px; /* IE10 */
    flex: 420px;
    max-width: 420px;
    max-height: 625px;
    padding: 0 4px;
  }
  
  .colum-populaire #populaire {
    margin-top: 8px;
    vertical-align: middle;0
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    border: 1px solid red;
  }
  /*xxx hebergement-populaire xxx*/
  /*ooo Section Hebergement ooo*/
.header-hebergement-section h2 {
    text-align: left;
    margin: 0 10px;
    padding-left: 0px;
  }
  
  .row-hebergement-section {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 8px;
    gap: 10px;
  }
  
  /* Create three equal columns that sits next to each other */
  .column-hebergement-section {
    -ms-flex: 32%; /* IE10 */
    flex: 32%;
    max-width: 32%;
    max-height: 626px;
    padding: 0 5px;
  }
  
  .column-hebergement-section img {
    margin-top: 18px;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  /*xxx Section Hebergement xxx*/

/*xxxx Main xxxx*/
/*ooo footer ooo*/
/*xxx footer ooo*/


/* Responsive layout - makes a two column-layout */
@media all and (max-width: 992px) {
    /*ooo hebergement-populaire ooo*/
    .colum-hebergement {
      -ms-flex: 70%;
      flex: 70%;
      max-width: 70%;
    }
    
    .colum-populaire {
      -ms-flex: 30%;
      flex: 30%;
      max-width: 30%;
    } 
    /*xxx hebergement-populaire xxx*/
    /*ooo Section Hebergement ooo*/
    .column-hebergement-section {
        -ms-flex: 45%;
        flex: 45%;
        max-width: 45%;
    }
    /*xxx Section Hebergement xxx*/
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media all and (max-width: 768px) {
    /*ooo hebergement-populaire ooo*/
    .row-hebergement-populaire {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      gap: 10px;
     }
    
    .colum-hebergement {
      -ms-flex: 100%; /* IE10 */
      flex: 100%;
      -ms-order: 2; /* IE10 */
      order: 2;
      max-width: 100%;
    }
    
    .colum-populaire {
      -ms-flex: 100%; /* IE10 */
      flex: 100%;
      -ms-order: 1; /* IE10 */
      order: 1;
      max-width: 100%;
    }
    /*xxx hebergement-populaire xxx*/
    /*ooo Section Hebergement ooo*/
    .column-hebergement-section {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    /*xxx Section Hebergement xxx*/
  }